<div class="col-xs-12" style="background-color: white">
    <div class="fb-like" data-href="https://www.facebook.com" data-width="500" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" style="color: white"></div>
</div>
<div style="background-color: black; color: white; font-size: 15px; text-align: center">
    <p>Rodapé </p>
    <p>Em desenvolvimento por: Toni Polkowski 2016 </p>
    <p>.</p>
    <p>.</p>
</div>
